#main-link{
	 padding-left:0px;
	 float:left;
	 width:100%;
	 text-align:center;

/* live	 background:url(images/bkg-nav-sec.gif);
	 background-repeat:repeat-x;*/
	 
	 
	 height: 38px;
	 background-color:#ed741a;
}

.menu {
/*	background-image: url(/images/menubg.png); live
	background-repeat: repeat-x; */
/*	height: 30px;*/
}
.menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
	height:39px;
	z-index:1;
}
.menu ul li{
	float:left;
	text-align:center;
	position:relative;
	vertical-align:middle;
	height:39px;
	line-height:28px;
	border-right:1px #CCC solid;
}
.menu ul li a{
	display:block;
	text-decoration:none;
	color:#FFF;
	 height: 33px;
	font-size:12px;
	padding-left:15px;
	padding-right:15px;
	padding-top:5PX;

}
.menu ul li a:hover{
	display:block;
	text-decoration:none;
	 height: 33px;
	color:#fff;
	background-color:#222d32;
}

.menu ul li ul {
	position: absolute;
	left: 0px;
	display: none;
	text-align:left;
	width:160px;	
	
}	
.menu ul li ul a {
	width:160px;
	text-align:left;
	font-size:12px;
	background-color:#ed741a;
	color:#FFFFF;
	padding-top:6px;
	border:0px;
	border-top: 1px solid #FFF;


	
 }
.menu ul li ul a:hover{

	width:160px;
	color:#fff;
	background-image:url(../images/2nddivider.png);
	background-repeat:no-repeat;
	background-color:#222d32;
}

.menu li:hover ul, li.over ul {

    display: block;
	
	
}
.active a{
	display:block;
	text-decoration:none;
	 height: 33px;
	color:#FFF;
	background-color:#E84500;
}
